<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Model.FirebaseOffline"
        android:allowBackup="true"
        android:icon="@mipmap/ealogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ealogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QuestionActivity"
            android:exported="false" />
        <activity android:name=".Activity.LessonActivity" />
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ForgotPasswordActivity" />
        <activity android:name=".Activity.Menu" />
        <activity android:name=".Activity.RegistrationActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>